<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/common :: head('i-Five 뮤지컬 프로젝트','css/default.css')}">
</head>

<body>
    <!-- 상단 네비바 -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="~{fragment/common :: top-nav('home')}">
    </nav>


    <!-- 본문시작 -->
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">선택지 1</h4>
                </div>
                <div class="card-body">
                <!--메뉴 선택 부분을 Dropdown 형식으로 하면 좋을 것 같습니다.-->
                
                    <h1 class="card-title pricing-card-title">처음이에요</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>처음인데 어떤 뮤지컬이 좋을까요?</li>
                        <li>이해하기 쉬운 뮤지컬을 보고 싶어요</li>
                        <li>최근에 인기가 많은 뮤지컬을 보고 싶어요</li>
                        <li>유명한 뮤지컬을 보고 싶어요</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">선택</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">선택지 2</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">연인 / 배우자</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>　</li>
                        <li>여자/남자친구와 함께 보고싶은 뮤지컬</li>
                        <li>배우자와 함께 보고싶은 뮤지컬</li>
                        <li>　</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">선택</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">선택지 3</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">등등</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>　</li>
                        <li>　</li>
                        <li>　</li>
                        <li>　</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">선택</button>
                </div>
            </div>
        </div>


        <footer th:replace="~{fragment/common :: footer}"></footer>
</body>

</html>