<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musical Rank</title>
    <link rel="stylesheet" href="/css/rank.css" th:replace="~{fragment/common :: head('rank','/css/rank.css')}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" 
    th:replace="~{fragment/common :: top-nav('rank')}"></nav>

    <div class="container" style="margin-top: 56px;">
        
        <!-- 인터파크 섹션 -->
        <div class="section">
            <h2>인터파크</h2>
            <div th:each="interpark : ${interparkList}">
                <!-- 각 musicalRank의 속성에 접근 -->
                <p th:text="${interpark.title}"></p>
            </div>
        </div>

        <!-- 티켓링크 섹션 -->
        <div class="section">
            <h2>티켓링크</h2>
            <div th:each="ticketlink : ${ticketlinkList}">
                <!-- 각 musicalRank의 속성에 접근 -->
                <p th:text="${ticketlink.title}"></p>
            </div>
        </div>

        <!-- 예스24티켓 섹션 -->
        <div class="section">
            <h2>예스24티켓</h2>
            <div th:each="yes24ticket : ${yes24ticketList}">
                <!-- 각 musicalRank의 속성에 접근 -->
                <p th:text="${yes24ticket.title}"></p>
            </div>
        </div>

    </div>

        
    <script src="/js/rank.js"></script>
</body>

</html>