<!DOCTYPE html>

<body>
    <div class="sub_container" th:fragment="tagList(tag1)">
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('love')"
            th:if="${tag1 ne 'love'}">사랑</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('opera')"
            th:if="${tag1 ne 'opera'}">오페라</button>

        <!-- 태그 : 아이 -->
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('child')"
            th:if="${tag1 ne 'child'}">가족</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('friend')"
            th:if="${tag1 ne 'friend'}">친구</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('art')"
            th:if="${tag1 ne 'art'}">예술</button>

        <!-- 태그 : 마법 -->
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('magic')"
            th:if="${tag1 ne 'magic'}">판타지</button>

        <!-- 태그 : 사람 -->
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('person')"
            th:if="${tag1 ne 'person'}">휴머니즘</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('history')"
            th:if="${tag1 ne 'history'}">역사</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('fear')"
            th:if="${tag1 ne 'fear'}">공포</button>

        <!-- 태그 : 웃음 -->
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('laugh')"
            th:if="${tag1 ne 'laugh'}">코미디</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag2('sad')"
            th:if="${tag1 ne 'sad'}">슬픔</button>
    </div>


    <div class="sub_container" th:fragment="tagList2(tag1,tag2)">
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('love')"
            th:if="${tag1 ne 'love' and tag2 ne 'love'}">사랑</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('opera')"
            th:if="${tag1 ne 'opera' and tag2 ne 'opera'}">오페라</button>

        <!-- 태그 : 아이 -->
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('child')"
            th:if="${tag1 ne 'child' and tag2 ne 'child'}">가족</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('friend')"
            th:if="${tag1 ne 'friend' and tag2 ne 'friend'}">친구</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('art')"
            th:if="${tag1 ne 'art' and tag2 ne 'art'}">예술</button>

        <!-- 태그 : 마법 -->
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('magic')"
            th:if="${tag1 ne 'magic' and tag2 ne 'magic'}">판타지</button>

        <!-- 태그 : 사람 -->
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('person')"
            th:if="${tag1 ne 'person' and tag2 ne 'person'}">휴머니즘</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('history')"
            th:if="${tag1 ne 'history' and tag2 ne 'history'}">역사</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('fear')"
            th:if="${tag1 ne 'fear' and tag2 ne 'fear'}">공포</button>

        <!-- 태그 : 웃음 -->
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('laugh')"
            th:if="${tag1 ne 'laugh' and tag2 ne 'laugh'}">코미디</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="redirectToUrlWithTag3('sad')"
            th:if="${tag1 ne 'sad' and tag2 ne 'sad'}">슬픔</button>
    </div>

    <!-- 첫번째 메인이미지 (리스트 첫번째데이터) -->
    <div class="selected-container" th:fragment="musicalList()">
        <img th:src="${musicals[0].getPosterUrl()}" alt="Image" id="selectedImage">
        <!-- 추가된 테이블 -->
        <table class="musical-details" id="selectedInfo">
            <thead>
                <tr>
                    <th>제목</th>
                    <td th:text="${musicals[0].title}" id="selectedTitle"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>줄거리</th>
                    <!-- 줄거리를 10줄로 제한하여 표시하고, 10줄 이하일 경우 전체 내용을 표시 -->
                    <td th:if="${musicals[0].synopsis}" class="max-lines">
                        <span th:text="${musicals[0].synopsis}" id="selectedSys"></span>
                    </td>
                </tr>
                <th>장르</th>
                <td th:text="${musicals[0].genre}" id="selectedGenre"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>상영기간</th>
                    <td th:text="${musicals[0].date}" id="selectedDate"></td>
                </tr>
                <tr>
                    <th>장소</th>
                    <td th:text="${musicals[0].location}" id="selectedLocation"></td>
                </tr>
                <tr>
                    <th>상영시간</th>
                    <td th:text="${musicals[0].runningTime}" id="selectedRunning"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="slider-container" th:fragment="slider()" style="margin-top:10px;">
        <div class="slick-container" >
            <div th:each="musicalDTO : ${musicals}">
                <!-- 각 MusicalDTO의 속성에 접근 -->
                <img th:src="${musicalDTO.getPosterUrl()}" alt="Image" data-index="${musicalDTO.index}" id="slider-image">
            </div>
        </div>
    </div>    
</body>