<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head rel="stylesheet" href="/css/rank.css" th:replace="~{fragment/common :: head(' 인터파크 랭킹 | 뮤모 ','/css/rank.css')}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
        th:replace="~{fragment/common :: top-nav('rank')}"></nav>

    <div class="ranking">
        <div class="head">
            <h1 class="site_title">인터파크</h1>
            <div class="today_date">
                <div class="arrow">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <h3 th:text="${today}"></h3>
                <div class="arrow">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div class="site_list">
                <ul class="tab_list" role="tablist" data-tiara-layer="select">
                    <li>
                        <a href="/rank" class="site_tab" role="tab" aria-selected="true">인터파크</a>
                    </li>
                    <li>
                        <a href="/rank/1" class="site_tab" role="tab">티켓링크</a>
                    </li>
                    <li>
                        <a href="/rank/2" class="site_tab" role="tab">예스24티켓</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ranking_show">
            <ol class="musical_ranking">
                <!-- Thymeleaf의 th:each로 각 musicals를 iterStat을 사용하여 순회 -->
                <div th:each="musicals : ${interparkList}" class="slider-content">
                    <!-- 각 MusicalDTO의 속성에 접근하여 이미지와 제목을 출력 -->
                    <li class="musical_contents">
                        <a th:href="${musicals.goodsUrl}" target="_blank">
                            <img th:src="${musicals.posterUrl}" alt="Image" class="list-image">
                            <span class="rank_num" th:text="${musicals.ranking} + '위'"></span>
                            <div class="text-container">
                                <p class="musical_title" th:text="${musicals.title}"></p>
                                <p class="musical_location" th:text="${musicals.location}"></p>
                                <p class="musical_duration" th:text="${musicals.date}"></p>
                            </div>
                        </a>
                    </li>
                </div>
            </ol>
        </div>
    </div>

    <script src="/js/rank.js"></script>
</body>

</html>