group-start {
    margin-left: 0; /* 5의 배수일 때 그룹의 첫 번째 요소에는 왼쪽 마진을 0으로 설정 */
}

.navbar {
    color : #141517;
    background-color: #141517;
}

.body {
    display: block;
}
.container{
    margin-top: 60px;
}

.sub_container{
    text-align: center;
}

.btn{
    margin-bottom: 10px;   
}

.selected-container {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#selectedImage {
    flex: 40%;
}

#selectedInfo{
    flex: 60%;
    margin-left: 1rem;
}

.musical-details {
    max-width: 100%;
    max-height: 100%;
}

.musical-details th {
    display: inline-block; /* 인라인 블록으로 설정하여 가로 배치 */
}

.musical-details td {
    display: inline-block; /* 인라인 블록으로 설정하여 가로 배치 */
    vertical-align: top; /* 상단 정렬을 통해 텍스트가 위쪽에 위치하도록 설정 */
    margin-left: 10px; /* 좌측 여백을 조절, 필요에 따라 조절하세요 */
}
.max-lines {
    max-height: 12em; /* 표시할 최대 높이 */
    overflow: auto; /* 스크롤이 필요할 때만 표시 */
    -webkit-line-clamp: 10; /* 표시할 최대 줄 수 */
}
.musical-contents {
    display: flex;
    overflow: hidden; /*가로로 넘어가는내용 안보이게*/
    z-index: 1;
}
.musical-details {
    position: relative;
    top: -70%;
    min-width: 550px;
    max-width: 550px;
}



/* -------------------여기서 부터 슬라이더 css------------------- */

.slick-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.slick-next {
    content: '';
    background: url('') center center no-repeat;
}