#modalOpenButton,
#modalCloseButton {
    cursor: pointer;
}

/* 페이지 화면에 채워서, 위치고정(position), bgcolor에 알파값0.5로 반투명 */
#modalContainer {  
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#modalContent {
    left: auto;
    transform-origin: 50% 12.5%;
    top: 2em;
    width: 728.76px;
    opacity: 1;
    margin-bottom: 2em;
    min-width: 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}

#modalContainer.hidden {
    display: none;
}
