.ranking {
    display: block;
}

.head {
    position: relative;
    display: flex;
    justify-content: space-around; /* 내용을 왼쪽, 중앙, 오른쪽으로 정렬합니다. */
    align-items: center; /* 수직 정렬을 중앙으로 설정합니다. */
}

.site_title, .today_date, .site_list a {
    font-weight: bold;
}

.site_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site_list li {
    margin-right: 10px;
}

.site_list a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

.tab_list .site_tab[aria-selected="true"] {
    color: #E92130;
}

.ranking_show {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.musical_ranking {
    position: relative;
    margin: 10px 0;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}

.slider-content {
    flex: 0 0 20%;
}

.musical_contents {
    list-style: none;
    margin: 0;
    padding: 0;
}

.musical_contents a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.rank_num {
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.musical_contents img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.text-container {
    width: 300px; /* 텍스트의 원하는 너비 */
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.text-container:hover {
    white-space: normal;
    overflow: visible;
}

.musical_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

.musical_location {
    font-size: 15px;
    margin-bottom: 0;
}

.musical_duration {
    font-size: 15px;
    margin-bottom: 30px;
}