.section img {
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소의 100%로 설정 */
    height: auto; /* 가로세로 비율을 유지하면서 이미지 크기 조절 */
}

/* 각 테이블 내의 이미지 크기 조절 */
.section table img {
    max-width: 80px; /* 원하는 크기로 설정 */
    height: auto;
}

.section {
    margin-bottom: 20px; /* 각 섹션의 하단 여백 조절 */
}

table {
    width: 100%; /* 테이블 너비 100%로 설정 */
    border-collapse: collapse; /* 테이블 셀 경계 합치기 */
    margin-bottom: 15px; /* 각 테이블의 하단 여백 조절 */
}

th, td {
    border: 1px solid #ddd; /* 테이블 셀 경계 스타일링 */
    padding: 8px; /* 셀 안 패딩 조절 */
    text-align: left; /* 텍스트 정렬 왼쪽으로 설정 */
}

strong {
    font-size: 1.2em;
    display: block; /* 각 strong 태그를 새로운 블록으로 표시하여 줄 바꿈 현상을 방지 */
}

span {
    font-size: 1em; /* 내용 글자 크기 설정 */
    display: block; /* 각 span 태그를 새로운 블록으로 표시하여 줄 바꿈 현상을 방지 */
}

